.services {
    background-color: #101010;
    color: white;
}

.card i {
    color: #F9004D;
    font-size: 3rem;
    padding-bottom: 25px;
}
.card .card-title {
    color: #ffffff;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 25px;
}
.card .card-desc {
    color: #9597A2;
    font-size: 1.2rem;
    padding-bottom: 30px;
    line-height: 1.5;
}
.card:hover {
    margin-top: -5px;
    background-color: #F51726;
}
.card:hover i, .card:hover .card-desc {
    color: #ffffff;
}