.about {
    background-color: #191919;
}
.about-content {
    display: flex;

}
.about-image img {
    border-radius: 20px;
    height: 90%;
}
.about-text {
    padding-left: 40px;
}
.about-text .title {
    padding-bottom: 30px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: 900;
}
.about-text .about-desc {
    color: #9597A2;
    font-size: 1.2rem;
    line-height: 1.5;
    padding-bottom: 40px;
}
.about-text .about-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}
.about-text .about-navbar a {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
    transition: 0.5s;
}
.about-text .about-navbar a:before {
    position: absolute;
    content: "";
    left: 0;
    width: 12%;
    height: 2px;
    background: #9597A2;
    transition: 0.5s;
    bottom: 0;
}
.about-text .about-navbar a.active {
    color: #F9004D;
}
.about-text .about-navbar a.active::before {
    width: 100%;
    background: #F9004D;
}
.main, .awards, .experience, .education {
    color: #9597A2;
    font-size: 1.2rem;
}
.main p, .awards p, .experience p, .education p {
    margin-bottom: 30px;
    font-weight: 500;
}
.main h4, .awards h4, .experience h4, .education h4 {
    cursor: pointer;
    transition: 0.5s;
}
.main h4:hover, .awards h4:hover, .experience h4:hover, .education h4:hover {
    color: #F9004D;
} 