.about {
    background-color: #191919;
  }
  .about-content {
    display: flex;
    gap: 15px;
  }
@media (max-width: 992px) {
    .about-content {
        flex-wrap: wrap;
    }
    .about-text {
      width: 100%;

    }

}
  .about-image img {
    border-radius: 20px;
    height: 100vh;
  }
  .about-text {
    min-width: 50%;
  }
  .about-text .title {
    margin-bottom: 30px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: 900;
  }
  .about-text .about-desc {
    color: #9597a2;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .about-text .about-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    flex-wrap: wrap;
    gap: 10px;
  }
  .about-text .about-navbar button {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    background: none;
  }
  .about-text .about-navbar button:before {
    position: absolute;
    content: "";
    left: 0;
    width: 12%;
    height: 2px;
    background: #9597a2;
    transition: 0.5s;
    bottom: 0;
  }
  .about-text .about-navbar button.active {
    color: #f9004d;
  }
  .about-text .about-navbar button.active::before {
    width: 100%;
    background: #f9004d;
  }
  .main,
  .awards,
  .experience,
  .education {
    color: #9597a2;
    font-size: 1.2rem;
  }
  .main p,
  .awards p,
  .experience p,
  .education p {
    margin-bottom: 30px;
    font-weight: 500;
  }
  .main h4,
  .awards h4,
  .experience h4,
  .education h4 {
    cursor: pointer;
    transition: 0.5s;
  }
  .main h4:hover,
  .awards h4:hover,
  .experience h4:hover,
  .education h4:hover {
    color: #f9004d;
  }