.contact {
    background-color: #191919;
}
.contact-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: no-wrap;
    justify-content: space-between;
}
@media (max-width:992px) {
    .contact-content {
        flex-wrap: wrap-reverse;
        text-align: center;
        gap: 2px;
    }
    .section-left  {
        width: 100%;
    }
    .section-right {
        width: 100%;
    }
    .section-right img{
        width: 100%;
    }
}
.contact-content .section-right {
    text-align: center;
}
.section-right img {
    border-radius: 10px;
    height: 100%;
    width: 90%;
    position: relative;
    margin: 0 auto;
}
.section-left .section-desc {
    font-size: 1.2rem;
    line-height: 1.5;
}
.section-left .section-desc span {
    color: #f0f0f0;
    cursor: pointer;
}
.section-left form {
    width: 100%;
}
.section-left input, .section-left textarea {
    /* display: block; */
    margin: 15px;
    background-color: #191919;
    width: 100%;
    padding: 15px 20px;
    color: #9597A2;
    border-radius: 5px;
}
.section-left input {
    border: 2px solid #000000;
    font-size: 1em;
}
.section-left textarea {
    height: 150px;
    border: 1px solid #9597A2;
    font-size: 1.2rem;
}
.section-left button {
    padding: 15px 40px;
    margin-left: -5px;
    border: none;
    background-color: #F9004D;
    color: #f0f0f0;
    font-size: 1.2rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}
.section-left button:hover {
    padding: 15px 45px;
    background: none;
    border: 2px solid #F9004D;
    color: #F9004D;
}