.btn-visible, .btn-hidden {
    position: fixed;
    color: #fff;
    z-index: 9999;
    font-size: 1.1rem;
    background: none;
    bottom: 8%;
    right: 2%;
    border: 1px solid #363535;
    padding: 12px 18px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #191919;
    color: #F9004D;
}
.btn-hidden {
    display: none;
}