* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a  {
  text-decoration: none;
  color: white;
}
.content {
  width: 100%;
}
.pd-x {
  padding: 0 50px;
}
.pd-y {
  padding: 80px 0;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 3.5rem;
  font-weight: 900;
}
.section-desc {
  text-align: center;
  font-size: 1.5rem;
  color: #9597A2;
  padding-bottom: 30px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}